img {
  height: inherit;
  width: inherit;
}

.App {
  text-align: center;
}

.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card {
  background-color: aqua;
  height: 10rem;
  width: 10rem;
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: white;
}

.dreams {
  font-family: 'Satisfy', cursive;
  grid-column: 2 / span 6;
  font-size: 60px;
  align-self: center;
}

.admin {
  grid-column: 8 / span 10;
  align-self: center;
  font-size: 40px;

}

.inventory {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.create-item {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.form .inputs {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
}

.btn {
  margin: 2px;
  border-radius: 2px;
  background-color: grey;
  color: honeydew;
  box-shadow: 3px 3px rgb(50, 128, 138);
  margin-right: 5px;
}


.item-card {
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}